# Maven
target/

# Java
*.class

# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# Eclipse JDT
.classpath

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log